required python packages

In [2]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from streamlit_option_menu import option_menu
from PIL import Image
import git

Cloning github

In [94]:

#from_url = 'https://github.com/IamJafar/Phonepe_Pulse_Data_Visualization/blob/7d7025336139c57b58b5148c4aabdfc69e1997ff/Data/Statenames.csv'
#to_url = 'C:/Users/User/Desktop/python/phonepe/csv'
#git.Repo.clone_from(from_url,to_url)

Find out the null value percentage in a DataFrame (Data Cleaning)

In [3]:
def data_cleaning(data):
    total_row = data.shape[0]
    total_col = data.shape[1]
    null_col = (data.isnull().sum(axis=0)/total_col)
    null_row = (data.isnull().sum(axis=1)/total_row)
    null_col = pd.Series(null_col)
    null_row = pd.Series(null_row)
    high_missing_cols = null_col[null_col >= 1]
    high_missing_row = null_row[null_row >= 1]
    if len(high_missing_cols) > 0:
        return "ATTENTION, There are missing values in following column(s): " + ", ".join(high_missing_cols.index)
        return data
    elif len(high_missing_row) > 0:
        return "ATTENTION, There are missing values in following row(s): " + ", ".join(high_missing_row.index)
        return data
    else:
        return "No Missing Values Found",data

Creating DataGrame for Aggregation Transactions

In [3]:
def aggr_trans_dataframe():
    path = 'C:/Users/User/Desktop/python/phonepe/pulse_data/data/aggregated/transaction/country/india/state/'
    list_of_agg_trans = []
    for current_state in os.listdir(path):
        current_path = path + current_state + "/"

        for current_year in os.listdir(current_path):
            current_path1 = current_path + current_year + "/"
        
            for file in os.listdir(current_path1):
                current_file = current_path1 + file
                file_data = open(current_file, "r")
                jason_data = json.load(file_data)

                for jd in jason_data['data']['transactionData']:
                    dict_agg_trans = dict(
                        Transaction_type = jd['name'],
                        Transaction_count = jd['paymentInstruments'][0]['count'],
                        Transaction_amount = jd['paymentInstruments'][0]['amount'],
                        State = current_state,
                        Year = current_year,
                        Quarter = int(file.strip('.json'))
                    )

                    list_of_agg_trans.append(dict_agg_trans)
    df_agg_trans = pd.DataFrame.from_dict(list_of_agg_trans,orient='columns')
    return data_cleaning(df_agg_trans)

aggr_trans_dataframe()

('No Missing Values Found',
               Transaction_type  Transaction_count  Transaction_amount  \
 0     Recharge & bill payments               4200        1.845307e+06
 1        Peer-to-peer payments               1871        1.213866e+07
 2            Merchant payments                298        4.525072e+05
 3           Financial Services                 33        1.060142e+04
 4                       Others                256        1.846899e+05
 ...                        ...                ...                 ...
 4309         Merchant payments          354067997        2.390738e+11
 4310     Peer-to-peer payments          317959249        9.641385e+11
 4311  Recharge & bill payments           64920775        4.531943e+10
 4312        Financial Services             480740        4.590073e+08
 4313                    Others             524477        4.041567e+08

                           State  Year  Quarter
 0     andaman-&-nicobar-islands  2018        1
 1     andaman-&-nicobar-islands  2018        1
 2     andaman-&-nicobar-islands  2018        1
 3     andaman-&-nicobar-islands  2018        1
 4     andaman-&-nicobar-islands  2018        1
 ...                         ...   ...      ...
 4309                west-bengal  2023        4
 4310                west-bengal  2023        4
 4311                west-bengal  2023        4
 4312                west-bengal  2023        4
 4313                west-bengal  2023        4

 [4314 rows x 6 columns])

Creating DataFrame for Aggregation Users

In [4]:
def aggr_user_dataframe():
    path = 'C:/Users/User/Desktop/python/phonepe/pulse_data/data/aggregated/user/country/india/state/'
    list_of_agg_user = []
    for current_state in os.listdir(path):
        current_path = path + current_state + "/"

        for current_year in os.listdir(current_path):
            current_path1 = current_path + current_year + "/"
        
            for file in os.listdir(current_path1):
                current_file = current_path1 + file
                file_data = open(current_file, "r")
                jason_data = json.load(file_data)

                try:
                    for jd in jason_data['data']['usersByDevice']:
                        dict_agg_user = dict(
                            Brands = jd['brand'],
                            User_Registered = jd['count'],
                            Percentage = jd['percentage'],
                            State = current_state,
                            Year = current_year,
                            Quarter = int(file.strip('.json'))
                        )

                        list_of_agg_user.append(dict_agg_user)
                except:
                    pass
    df_agg_user = pd.DataFrame.from_dict(list_of_agg_user,orient='columns')
    return data_cleaning(df_agg_user)


aggr_user_dataframe()

('No Missing Values Found',
        Brands  User_Registered  Percentage                      State  Year  \
 0      Xiaomi             1665    0.247033  andaman-&-nicobar-islands  2018
 1     Samsung             1445    0.214392  andaman-&-nicobar-islands  2018
 2        Vivo              982    0.145697  andaman-&-nicobar-islands  2018
 3        Oppo              501    0.074332  andaman-&-nicobar-islands  2018
 4     OnePlus              332    0.049258  andaman-&-nicobar-islands  2018
 ...       ...              ...         ...                        ...   ...
 6727   Lenovo           330017    0.015056                west-bengal  2022
 6728  Infinix           284678    0.012987                west-bengal  2022
 6729     Asus           280347    0.012790                west-bengal  2022
 6730    Apple           277752    0.012671                west-bengal  2022
 6731   Others          2196334    0.100199                west-bengal  2022

       Quarter
 0           1
 1           1
 2           1
 3           1
 4           1
 ...       ...
 6727        1
 6728        1
 6729        1
 6730        1
 6731        1

 [6732 rows x 6 columns])

Creating DataGrame for Map Transaction

In [4]:
def map_trans_dataframe():
    path = 'C:/Users/User/Desktop/python/phonepe/pulse_data/data/map/transaction/hover/country/india/state/'
    list_of_map_trans = []
    for current_state in os.listdir(path):
        current_path = path + current_state + "/"

        for current_year in os.listdir(current_path):
            current_path1 = current_path + current_year + "/"
        
            for file in os.listdir(current_path1):
                current_file = current_path1 + file
                file_data = open(current_file, "r")
                jason_data = json.load(file_data)

                try:
                    for jd in jason_data['data']["hoverDataList"]:
                        dict_map_trans = dict(
                            District = jd['name'],
                            Count_transaction = jd['metric'][0]['count'],
                            Amount = jd['metric'][0]['amount'],
                            State = current_state,
                            Year = current_year,
                            Quarter = int(file.strip('.json'))
                        )

                        list_of_map_trans.append(dict_map_trans)
                except:
                    pass
    df_map_trans = pd.DataFrame.from_dict(list_of_map_trans,orient='columns')
    return data_cleaning(df_map_trans)


map_trans_dataframe()[1]

,District,Count_transaction,Amount,State,Year,Quarter
0,north and middle andaman district,442,9.316631e+05,andaman-&-nicobar-islands,2018,1
1,south andaman district,5688,1.256025e+07,andaman-&-nicobar-islands,2018,1
2,nicobars district,528,1.139849e+06,andaman-&-nicobar-islands,2018,1
3,north and middle andaman district,825,1.317863e+06,andaman-&-nicobar-islands,2018,2
4,south andaman district,9395,2.394824e+07,andaman-&-nicobar-islands,2018,2
...,...,...,...,...,...,...
17559,nadia district,36242432,6.879568e+10,west-bengal,2023,4
17560,birbhum district,20708496,3.690499e+10,west-bengal,2023,4
17561,purba medinipur district,40572042,7.981990e+10,west-bengal,2023,4
17562,maldah district,34654950,6.416729e+10,west-bengal,2023,4
17563,darjiling district,16807885,2.793986e+10,west-bengal,2023,4

Creating DataGrame for Map User

In [6]:
def map_user_dataframe():
    path = 'C:/Users/User/Desktop/python/phonepe/pulse_data/data/map/user/hover/country/india/state/'
    list_of_map_user = []
    for current_state in os.listdir(path):
        current_path = path + current_state + "/"

        for current_year in os.listdir(current_path):
            current_path1 = current_path + current_year + "/"
        
            for file in os.listdir(current_path1):
                current_file = current_path1 + file
                file_data = open(current_file, "r")
                jason_data = json.load(file_data)

                for jd in jason_data['data']["hoverData"].items():
                    dict_map_user = dict(
                        District = jd[0],
                        RegisteredUsers = jd[1]['registeredUsers'],
                        AppOpens = jd[1]['appOpens'],
                        State = current_state,
                        Year = current_year,
                        Quarter = int(file.strip('.json'))
                    )

                    list_of_map_user.append(dict_map_user)

    df_map_user = pd.DataFrame.from_dict(list_of_map_user,orient='columns')
    return data_cleaning(df_map_user)


map_user_dataframe()

('No Missing Values Found',
                                 District  RegisteredUsers  AppOpens  \
 0      north and middle andaman district              632         0
 1                 south andaman district             5846         0
 2                      nicobars district              262         0
 3      north and middle andaman district              911         0
 4                 south andaman district             8143         0
 ...                                  ...              ...       ...
 17563                     nadia district          1603527  67224546
 17564                   birbhum district          1013025  52281841
 17565           purba medinipur district          1589203  69991821
 17566                    maldah district          1134600  88292475
 17567                 darjiling district           660231  39079247

                            State  Year  Quarter
 0      andaman-&-nicobar-islands  2018        1
 1      andaman-&-nicobar-islands  2018        1
 2      andaman-&-nicobar-islands  2018        1
 3      andaman-&-nicobar-islands  2018        2
 4      andaman-&-nicobar-islands  2018        2
 ...                          ...   ...      ...
 17563                west-bengal  2023        4
 17564                west-bengal  2023        4
 17565                west-bengal  2023        4
 17566                west-bengal  2023        4
 17567                west-bengal  2023        4

 [17568 rows x 6 columns])

Creating DataGrame for Top PinCode

In [7]:
def top_pincode_dataframe():
    path = 'C:/Users/User/Desktop/python/phonepe/pulse_data/data/top/transaction/country/india/state/'
    list_of_top_pincode = []
    for current_state in os.listdir(path):
        current_path = path + current_state + "/"

        for current_year in os.listdir(current_path):
            current_path1 = current_path + current_year + "/"
        
            for file in os.listdir(current_path1):
                current_file = current_path1 + file
                file_data = open(current_file, "r")
                jason_data = json.load(file_data)

                for jd in jason_data['data']['pincodes']:
                    dict_top_pincode = dict(
                        Pincode = jd['entityName'],
                        Transaction_count = jd['metric']['count'],
                        Transaction_amount = jd['metric']['amount'],
                        State = current_state,
                        Year = current_year,
                        Quarter = int(file.strip('.json'))
                    )

                    list_of_top_pincode.append(dict_top_pincode)

    df_top_pincode = pd.DataFrame.from_dict(list_of_top_pincode,orient='columns')
    return data_cleaning(df_top_pincode)

top_pincode_dataframe()

('No Missing Values Found',
      Pincode  Transaction_count  Transaction_amount  \
 0     744101               1622        2.769298e+06
 1     744103               1223        2.238042e+06
 2     744102                969        3.519060e+06
 3     744105                685        1.298561e+06
 4     744104                340        1.039715e+06
 ...      ...                ...                 ...
 8562  721301            4133775        5.718222e+09
 8563  700001            3983241        8.039689e+09
 8564  732125            3950411        6.557345e+09
 8565  700039            3742452        5.608622e+09
 8566  700014            3652710        6.184795e+09

                           State  Year  Quarter
 0     andaman-&-nicobar-islands  2018        1
 1     andaman-&-nicobar-islands  2018        1
 2     andaman-&-nicobar-islands  2018        1
 3     andaman-&-nicobar-islands  2018        1
 4     andaman-&-nicobar-islands  2018        1
 ...                         ...   ...      ...
 8562                west-bengal  2023        4
 8563                west-bengal  2023        4
 8564                west-bengal  2023        4
 8565                west-bengal  2023        4
 8566                west-bengal  2023        4

 [8567 rows x 6 columns])

Creating DataGrame for Top Users

In [8]:
def top_users_dataframe():
    path = 'C:/Users/User/Desktop/python/phonepe/pulse_data/data/top/user/country/india/state/'
    list_of_top_users = []
    for current_state in os.listdir(path):
        current_path = path + current_state + "/"

        for current_year in os.listdir(current_path):
            current_path1 = current_path + current_year + "/"
        
            for file in os.listdir(current_path1):
                current_file = current_path1 + file
                file_data = open(current_file, "r")
                jason_data = json.load(file_data)

                for jd in jason_data['data']['pincodes']:
                    dict_top_users = dict(
                        Pincode = jd['name'],
                        RegisteredUsers = jd['registeredUsers'],
                        State = current_state,
                        Year = current_year,
                        Quarter = int(file.strip('.json'))
                    )

                    list_of_top_users.append(dict_top_users)

    df_top_users = pd.DataFrame.from_dict(list_of_top_users,orient='columns')
    return data_cleaning(df_top_users)


top_users_dataframe()

('No Missing Values Found',
      Pincode  RegisteredUsers                      State  Year  Quarter
 0     744103             1608  andaman-&-nicobar-islands  2018        1
 1     744101             1108  andaman-&-nicobar-islands  2018        1
 2     744105             1075  andaman-&-nicobar-islands  2018        1
 3     744102             1006  andaman-&-nicobar-islands  2018        1
 4     744104              272  andaman-&-nicobar-islands  2018        1
 ...      ...              ...                        ...   ...      ...
 8563  700015           126663                west-bengal  2023        4
 8564  742304           123320                west-bengal  2023        4
 8565  721101           123088                west-bengal  2023        4
 8566  700150           119283                west-bengal  2023        4
 8567  700091           118578                west-bengal  2023        4

 [8568 rows x 5 columns])

In [9]:
df_aggr_trans = aggr_trans_dataframe()[1]
df_aggr_user = aggr_user_dataframe()[1]
df_map_trans = map_trans_dataframe()[1]
df_map_user = map_user_dataframe()[1]
df_top_pincode = top_pincode_dataframe()[1]
df_top_users = top_users_dataframe()[1]

Convert DataFrames Into CSV

In [6]:
df_aggr_trans.to_csv('CSV/agg_trans.csv',index=False)
df_aggr_user.to_csv('CSV/agg_user.csv',index=False)
df_map_trans.to_csv('CSV/map_trans.csv',index=False)
df_map_user.to_csv('CSV/map_user.csv',index=False)
df_top_pincode.to_csv('CSV/top_trans.csv',index=False)
df_top_users.to_csv('CSV/top_user.csv',index=False)

Create Connection With MYSQL

In [10]:
mydb = sql.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE phonepe_data")

In [41]:
mydb = sql.connect(host="localhost",
                    user="root",
                    password="root",
                    database= "phonepe_data1"
                    )
mycursor = mydb.cursor()

In [12]:
query1 = "create table agg_trans (Transaction_type varchar(100), Transaction_count int, Transaction_amount double, State varchar(100), Year int, Quarter int)"
mycursor.execute(query1)

for i,row in df_aggr_trans.iterrows():
    sql = "INSERT INTO agg_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

True

In [17]:
query2 = "create table agg_user (Brands varchar(100), User_Registered int, Percentage double, State varchar(100), Year int, Quarter int)"
mycursor.execute(query2)

for i,row in df_aggr_user.iterrows():
    sql = "INSERT INTO agg_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [22]:
query3 = "create table map_trans (District varchar(100), Count_transaction int, Amount double, State varchar(100), Year int, Quarter int)"
mycursor.execute(query3)

for i,row in df_map_trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [23]:
query4 = "create table map_user (District varchar(100), RegisteredUsers int, AppOpens int, State varchar(100), Year int, Quarter int)"
mycursor.execute(query4)

for i,row in df_map_user.iterrows():
    sql = "INSERT INTO map_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

True

In [27]:
query5 = "create table top_trans ( Pincode int, Transaction_count int, Transaction_amount double, State varchar(100), Year int, Quarter int)"
mycursor.execute(query5)

for i,row in df_top_pincode.iterrows():
    sql = "INSERT INTO top_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [28]:
query6 = "create table top_user (Pincode int, RegisteredUsers int, State varchar(100), Year int, Quarter int)"
mycursor.execute(query6)

for i,row in df_top_users.iterrows():
    sql = "INSERT INTO top_user VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

Rename All States Acoordly

In [37]:
query = "USE phonepe_data1;"
query_2 = "show tables"
mycursor.execute(query)
mycursor.execute(query_2)
df = pd.DataFrame(mycursor.fetchall(),columns=['name'])
table_list = df['name'].to_list()
table_list.remove('corr_state')
for x in table_list:
    print(f"{x}")

agg_trans
agg_user
map_trans
map_user
top_trans
top_user

In [34]:
state_names = pd.read_csv('csv/Statenames.csv')

In [36]:
query7 = "create table corr_state (State varchar(100), Corr_State varchar(100))"
mycursor.execute(query7)

for i,row in state_names.iterrows():
    sql = "INSERT INTO corr_state VALUES (%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [38]:
query8 = "SET SQL_SAFE_UPDATES = 0;"
mycursor.execute(query8)
for table in table_list:
    query10 = f"ALTER TABLE {table} ADD c_state varchar(255);"
    query9 = f"UPDATE {table} SET C_state = (SELECT state FROM corr_state WHERE corr_state.Corr_State = {table}.State);"
    mycursor.execute(query10)
    mycursor.execute(query9)
    mydb.commit()
query11 = "SET SQL_SAFE_UPDATES = 1;"
mycursor.execute(query11)
mydb.commit()

In [43]:
mydb.close()